.grid-container {
  grid-area: grid;
  position: relative;
}

.inset-shadow-caster {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25) inset;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.grid-container-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.grid {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 64px;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .cell {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(48, 51, 59);

    .cell-inner {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      &.covered {
        background-color: lightgray;
        border: 8px darkgray outset;
        cursor: pointer;
      }

      &.revealed {
        background: lightgray;
      }

      &.neighboring-mine-count--1 {
        color: rgb(9, 162, 223);
      }

      &.neighboring-mine-count--2 {
        color: rgb(11, 189, 11);
      }

      &.neighboring-mine-count--3 {
        color: gold;
      }

      &.neighboring-mine-count--4 {
        color: rgb(255, 127, 0);
      }

      &.neighboring-mine-count--5 {
        color: red;
      }

      &.neighboring-mine-count--6 {
        color: purple;
      }

      &.neighboring-mine-count--7 {
        color: magenta;
      }

      &.neighboring-mine-count--8 {
        color: rgb(25, 3, 126);
      }
    }
  }

  &.active {
    .cell {
      &:hover, &:focus {
        .cell-inner {
          &.covered {
            background-color: lightblue;
            border-color: turquoise;
          }
        }
      }
    }
  }
}
