.modal-background {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    display: none;
}

.modal-background.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    min-width: 640px;
    min-height: 480px;
    max-width: calc(100vw - 16px);
    max-height: calc(100vh - 16px);
}
