.header-container {
    grid-area: header;
}

.header-container h1 {
    font-size: 32px;
}

.header-small {
    display: none;
}

@media (max-width: 640px) {
    .header-regular {
        display: none;
    }

    .header-small {
        display: block;
    }
}
