.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header toolbar"
    "grid grid";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
