.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 2fr 1fr;
  grid-template-areas:
    "header stats toolbar"
    "grid grid grid";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 640px) {
  .app-container {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "header stats"
      "grid grid"
      "toolbar toolbar";
  }
}
